.webform-help-text-popup {
  float: left;
}

.webform-help-text-popup__icon {
  background: #216db2;
  padding: 5px;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  text-align: center;
  font-size: 10px;
  line-height: 10px;
  color: #fff;
  margin-right: 5px;
  box-sizing: content-box;
  display: block !important;
}

.webform-help-text-popup--clickable .webform-help-text-popup__icon {
  cursor: pointer;
}

.webform-client-form div.webform-help-text-popup__content {
  display: none;
  position: absolute;
  margin-top: 10px;
  margin-left: -10px;
  background-color: #FFF;
  padding: 20px 30px 15px 15px;
  border: 1px solid #216db2;
  max-width: 600px;
  z-index: 99;
}

.webform-help-text-popup__content:before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 20px;
  margin-left: -9px;
  width: 0;
  height: 0;
  border-bottom: 9px solid #216db2;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
}

.webform-help-text-popup__content:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 20px;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-bottom: 8px solid #ffffff;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

.webform-client-form div.webform-help-text-popup__content-inner *:first-child {
  margin-top: 0;
}

.webform-client-form div.webform-help-text-popup__content-inner *:last-child {
  margin-bottom: 0;
}

.webform-help-text-popup__close {
  position: absolute;
  top: 0;
  right: 8px;
  transition: all 200ms;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.webform-client-form div.webform-help-text-popup--clicked .webform-help-text-popup__content {
  display: block;
}

.webform-client-form div.webform-help-text-popup--hoverable:hover .webform-help-text-popup__content {
  display: block;
}

.webform-client-form div.webform-help-text-popup--hoverable .webform-help-text-popup__close {
  display: none;
}
